@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 999px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.linear {
  background-image: linear-gradient(to bottom right, #470f69, #150435);
}

.bordergray {
  border-bottom: 1px solid #b3b3b3;
}
.button {
  background-color: #d33333;
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}

.cardcontainer::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.categoryContainer:hover {
  @media only screen and (min-width: 634px) {
    animation-name: categoryExpand;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: linear;
  }
}

@keyframes categoryExpand {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
